  /*
    Flaticon icon font: Flaticon
    Creation date: 14/12/2018 00:19
    */

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("https://www.puriwp.com/cocotemplates/html/acropos/assets/css/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-calendar:before { content: "\f100"; }
.flaticon-speed:before { content: "\f101"; }
.flaticon-road:before { content: "\f102"; }
.flaticon-fuel:before { content: "\f103"; }
.flaticon-shift:before { content: "\f104"; }
.flaticon-car:before { content: "\f105"; }
.flaticon-art:before { content: "\f106"; }
.flaticon-motor:before { content: "\f107"; }